.btn:hover {
    color: white;
    background-color: #186cad;
    border-color: white;
}

.btn-outline-success {
    color: #186cad;
    border-color:#186cad
}

.containerHeader{
    .navbar{
        .logo{}
        .dashboard{}
        .buttons{}
    }
}


//RESPONSIVE

@media (max-width: 767.98px) {
    .list-user {
    .row.flex-column {
        .breadcrumb-content {
        width: 235px;
        }
        .content-list {
        .dataTables_wrapper {
            .table {
            overflow-x: scroll;
            max-width: 100%;
            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                border-radius: 10px;
            }
            }
        }
        }
    }
    }
}  
@media (min-width: 768px) and (max-width: 991.98px) {
.list-user {
    .row.flex-column {
    .breadcrumb-content {
        width: 40%;
    }
    .content-list {
        .line-btn {
        .action_btn {
            div#action {
            button {
                width: 135px;
            }
            }
        }
        }
        .dataTables_wrapper {
        .table {
            overflow-x: scroll;
            max-width: 100%;
            &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            }
            &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 10px;
            }
        }
        }
    }
    }
}
}  
@media (min-width: 992px) and (max-width: 1199.98px) {
.list-user {
    .row.flex-column {
    .breadcrumb-content {
        width: 30%;
    }
    .content-list {
        .line-btn {
        .action_btn {
            div#action {
            justify-content: space-around;
            display: flex;
            align-items: flex-start;
            button {
                display: flex;
                align-items: center;
                margin-left: 0px;
            }
            }
        }
        }
        .dataTables_wrapper {
        .table {
            overflow-x: scroll;
            max-width: 100%;
            &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            }
            &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 10px;
            }
        }
        }
    }
    }
}
}
@media (min-width: 1200px) {
.list-user {
    .row.flex-column {
    .breadcrumb-content {
        width: 20%;
    }
    .content-list {
        .line-btn {
        .dataTables_length {
            label.selector {
            select.custom-select {
                width: 18%;
            }
            }
        }
        }
    }
    }
}
}
@media (min-width: 1350px) {
.list-user {
    .row.flex-column {
    .content-list {
        .line-btn {
        .dataTables_length {
            label.selector {
            select.custom-select {
                width: 15%;
            }
            }
        }
        }
    }
    }
}
}