<div class="centralContainer">  
  <div class="mapContainer">
    <agm-map
      [latitude]="defaultPropertyMap.coordinates.latitude"
      [longitude]="defaultPropertyMap.coordinates.longitude"
      [zoom]="defaultPropertyMap.zoom">
      <agm-marker-cluster>
          <agm-marker
            *ngFor="let markerPosition of markerClients"
            (markerClick)="clickedMarker(markerPosition)"
            [latitude]="markerPosition.coordinates.latitude"
            [longitude]="markerPosition.coordinates.longitude"
            >

            <!--         [iconUrl]="markerPosition.url!"-->

            <!--agm-info-window>
              <strong>InfoWindow content</strong>
            </agm-info-window-->
            
          </agm-marker>          
      </agm-marker-cluster>   

      <agm-circle [latitude]="lat" [longitude]="lng-2" 
      [radius]="150000"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="false">
  </agm-circle>

  
    </agm-map>
  </div>  
</div>